@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

.navbar {
  padding: 0.5rem 0 0 0.5rem;
}

.thumbnail {
  padding: 0 0.5rem 0 0;
}

.rainbow {
  background-image: rgb(238, 174, 202);
  background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

p.block::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
}

.tile.is-ancestor {
  padding-bottom: 0;
}

.tile.is-vertical {
  padding: 0;
}

div.tile.is-parent.middle,
article.tile.is-parent.middle {
  padding: 0;
}

div.tile.is-child {
  position: relative;
}

.bottom-right {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

button {
  filter: drop-shadow(4px 5px 6px rgba(0, 0, 0, 0.9));
}

.footer {
  background-color: transparent;
  padding: 1rem 1rem 1rem;
}
